<h1 class="text-center pt-4 pb-4">Create a new article</h1>

<%= render 'form' %> <!-- unlike the application.html.erb file, we do not need to specify the folder name here (i.e. 'articles/form') -->

<div class="container text-center pb-3">
	<%= link_to 'Cancel', articles_path, class: "text-info" %>
</div>