<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<style type="text/css">
			.jumbotron {
				padding: 4rem 2rem;
				margin-bottom: 2rem;
				background-color: gray;
				border-radius: .3rem;
			}
		</style>

		<div class="container mt-4">
			<div class="jumbotron text-center text-light">
				<h1 class="display-4">Alpha Blog</h1>
				<p class="lead">Sign up today!</p>
				<hr class="my-4">
				<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
				<a class="btn btn-success btn-lg" href="#" role="button">Sign Up!</a>
			</div>
		</div>

			
	</body>
</html>