<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
			<small>Copyright &copy; <%= link_to "Areesh Zindani", "https://areeshz.github.io", class: "text-muted" %></small>
		</div>
	</footer>
</body>
</html>